.dashForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.input-group {
  display: flex;
  align-items: center;
  gap: 25px;
}
.input-group label {
  flex: 1;
}
.input-group div {
  flex: 1;
}
.input-group .radio {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.input-group .radio input {
  margin-right: 6px;
  background-color: #ffffff;
  accent-color: #6741d9;
}
.input-group #custom {
  width: 100%;
  text-align: center;
  background-color: var(--screenBg);
  color: var(--fontColor);
  font-size: 1rem;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0.4rem;
}
.input-group #custom.greyed {
  border-color: var(--greyedOut);
  color: var(--greyedOut);
}
.input-group #custom.error {
  border-color: red;
}
.input-group .regular-songs {
  display: flex;
  justify-content: space-between;
}
.input-group .regular-songs input {
  width: 22%;
  text-align: center;
  background-color: var(--screenBg);
  color: var(--fontColor);
  font-size: 1rem;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0.4rem;
}
.input-group .regular-songs input.greyed {
  border-color: var(--greyedOut);
  color: var(--greyedOut);
}
.input-group .regular-songs input.error {
  border-color: red;
}
.dashForm #save {
  cursor: pointer;
  background-color: var(--buttonBg);
  color: var(--fontColor);
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 0.7rem;
  margin: 4% 0 1%;
}
.dashForm #save:hover,
.dashForm #save:active,
.dashForm #save:active {
  border: 1px solid #f0c3f1;
}
.dashForm #save:disabled {
  cursor: not-allowed;
}

.loadingBar progress {
  width: 100%;
  position: fixed;
  top: -5px;
  left: 0;
  z-index: 10;
}

@media (max-width: 415px) {
  .input-group .regular-songs {
    flex-direction: column;
    gap: 3px;
  }
  .input-group .regular-songs input {
    width: 100%;
  }
  .dashForm #save {
    position: relative;
    top: 90px;
  }
}
